<%= render_breadcrumbs separator: '/' %>

<h1>Tournament <%= @tournament.name %></h1>

<div>
  <%= "Status: #{@tournament.status}" %>
  <%= ", Finalist: #{@tournament.finalist.name}" unless @tournament.finalist.nil? %>
  <%= ", Winner: #{@tournament.winner.name}" unless @tournament.winner.nil? %>
</div>

<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<ul>
  <% @tournament.divisions.each_with_index do |division, index| %>
    <% name = division.playoff? ? "#{division.name} Stage #{index - 1}" : "Division #{division.name}" %>
    <li><%= '------------------------------------------------------------------------------------------' %></li>
    <li><%= link_to name, edit_tournament_division_path(@tournament, division ) %></li>
    <li><%= "Teams: #{division.teams.map(&:name).join(', ')}" %></li>
    <li><%= "Winners: #{division.top.map(&:name).join(', ')}" %></li>
    <li><%= '------------------------------------------------------------------------------------------' %></li>
  <% end %>
</ul>

<% if @tournament.create_a_playoff_stage? %>
  <%= button_to 'Create Playoff Stage', action: :create_playoff %>
<% end %>

<%= link_to 'Destroy', tournament_path(@tournament), method: :delete %>
